#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpWindowContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#helpMessageContainer {
    -fx-background-color: derive(#2b2b2b, 20%);
}

#commandOverview {
    -fx-text-fill: white;
    -fx-background-color: derive(#2b2b2b, 20%);
}

#commandOverview .content {
    -fx-background-color: derive(#2b2b2b, 20%);
}